<app-container [column]="true">
  <h3>Passwort</h3>
  <form (ngSubmit)="changePassword()" [formGroup]="form">
    <mat-form-field>
      <input
        type="text"
        placeholder="Neues Passwort"
        formControlName="password"
        matInput
      />
      <mat-error *ngIf="password.errors && form.touched">
        Passwort muss mindestens 6 Zeichen lang sein
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!form.valid"
    >
      Ändern
    </button>
  </form>
</app-container>
